/*Mantendo a mesma cor da logo em todo o site.*/
body {
	background-color: #DAD0F2; !important
}
/* Rodape */
#rodape {
	background: #fff;
    border: solid 1px #239636;
    display: flex;
}
.rodape-item a {
	color: green; !important
}
.rodape-item i {
	color: green; !important
}
a {
	text-decoration: none; !important
	color: green; !important
}
a:hover {
	text-decoration: none; !important
}
.album i{
	color: green;
}
/*
 * Página do Cliente
 */
.only-bottom-margin {
	margin-top: 0px;
}

.activity-mini {
	padding-right: 15px;
	float: left;
}