.home-item {
	opacity: 0.75; !important
	background-color: #DAD0F2; !important
	text-decoration: none; !important
}
.box-shadow {
	background-color: #DAD0F2; !important
}
#nav{
	background: #DAD0F2; !important
	border: solid 2px #563d7c; !important
}
a {
	color: black; !important
	text-decoration: none; !important
	opacity: 1; !important
}
i {
	color: black; !important
	text-decoration: none; !important
	opacity: 1; !important
}
a:hover {
	text-decoration: none; !important
}
i:hover {
	text-decoration: none; !important
}
button {
    background-color: #563d7c; !important
    color: white;
}
button * {
    color: white;
    display: inline;
}