/*Mantendo a mesma cor da logo em todo o site.*/
body {
	background-color: #DAD0F2; !important
}
/* Rodape */
#rodape {
	background-color: #DAD0F2; !important
}
.rodape-item a {
	color: green; !important
}
.rodape-item i {
	color: green; !important
}
a:hover {
	text-decoration: none;
}