body {
	width: 100%;
	height: 100%;
	background-color: #d9d0f2;

}
*{
	margin-top: 5px;
	margin: 0;
	padding: 0;
	
}
.menu{
	width: 100%;
	height: 50px;
	background-color: #d9d0f2;
	font: 14px 'verdana';	
	
}
.menu ul{
	list-style: none;
	font: 14px 'verdana' #000000;
	position: left;
	
}
.menu ul li{
	width: 150px;
	float: left;
		
}
.menu a{
	padding: 8px;
	display: block;
	text-decoration: none;
	text-align: center;
	
}

.menu ul ul{
	position: absolute;
	visibility: hidden;
}
.menu ul li:hover ul{
	visibility: visible;
}
.menu a:hover{
	background-color: #6c5d99;
	color: #FFFFFF;
}
.menu ul ul li{
	float: none;
	
}
.menu ul ul li a{
	background-color: #d9d0f2;
}
label[for="bt_menu"]{
	padding: 1px;
	background-color: #d9d0f2;
	color: #6c5d99;
	font-family: 'verdana';
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}
#bt_menu{
	display: none;
}
label[for="bt_menu"]{
	display: none;
}

@media(max-width: 800px){
	label[for="bt_menu"]{
	display: block;
	}
	#bt_menu:checked~ .menu{
		margin-left: 0;
	}
	
	.menu{
		margin-top: 5px;
		margin-left: -100%;
		transition: all .4s;
	}
	
	.menu ul li{
		width: 100%;
		float: none;
	}
	.menu ul ul{
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all .4s;
	}
	.menu ul li:hover ul{
		height: auto;
		max-height: 200px;
	}

	
}
#rodape{
	position: absolute;
	bottom: 0%;
	width: 50%;
	height: 25px;
	line-height: 0;
	color: #6c5d99;
	font: italic bold 13px 'verdana';
	text-align: center;
	margin: 0;
	padding: 0;
	
}
#imagemrdp{
	position:absolute;
	width: 150px;
	height: 111px; 
	float: right;
	line-height: 100px;
	margin-bottom: 0;
	opacity: 0.5;
	right: 0px; 
	bottom: 0;
	
}
#pedido-box{
	background-color:#6c5d99;
	width: 800px;
	height: 400px;
	margin: 85px auto 0px;
	border-radius: 10px;
		
}
#pedido-box-interno{
	width: 790px;
	height: 390px;
	background-color: #FFFFFF;
	position: absolute;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black;
	overflow: hidden;
}
#pedido-cliente-label{
	background-color:#d9d0f2;
	height: 45px;
	text-align: center;
	font: bold italic 14px/45px verdana;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #ece5ff; /*Old browsers */
	background: -moz-linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#d9d0f2 100%)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* Chrome10, Safari5.1+ */
	background: -o-linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* Opera 11.10 */
	background: -ms-linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* IE10+ */
	background: linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ece5ff', endColorstr='#d9d0f2',GradientType=0); /*IE6-9*/
	border-bottom: 1px solid #6c5d99;
	box-shadow: 1px 0px #000000;
	color: #000000;
	text-shadow: 1px 0px 1px white;

}
	#input-manutenção{
		margin-top: 13px;
		font: italic 14px verdana;
	}
	#input-cliente{
		margin-top: 10px;
		font: italic 14px verdana;
	}
	#input-endereco{
		margin-top: -10px;
		font: italic 14px verdana;
	}
	#input-status{
		margin-top: -10px;
		font: italic 14px verdana;
		
	}
	#botoes{
		width: 540px;
		margin-left: 25px;
		height: 100px;
	}
	#botoes2{
		width: 690px;
		margin-left: 25px;
		height: 100px;
	}
#botao{
	width: auto;
	float: right;
	background-color: #d9d0f2;
	padding: 5px 15px;
	font: bold italic 12px verdana;
	border-radius: 20px;
	text-shadow: 0px 1px 0px white;
	border: 1px solid #6c5d99;
	height: 18px;
	background: #ece5ff; /*Old browsers */
	background: -moz-linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#d9d0f2 100%)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* Chrome10, Safari5.1+ */
	background: -o-linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* Opera 11.10 */
	background: -ms-linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* IE10+ */
	background: linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ece5ff', endColorstr='#d9d0f2',GradientType=0); /*IE6-9*/
	color: #000000;
	box-shadow: 0px 0px 10px #FFFFFF;
	
}
#botao:hover{
	background: #d9d0f2; /*Old browsers */
	background: -moz-linear-gradient(top, #d9d0f2 0%, #ece5ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d0f2), color-stop(100%,#ece5ff 100%)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d9d0f2 0%, #ece5ff 100%); /* Chrome10, Safari5.1+ */
	background: -o-linear-gradient(top, #d9d0f2 0%, #ece5ff 100%); /* Opera 11.10 */
	background: -ms-linear-gradient(top, #d9d0f2 0%, #ece5ff 100%); /* IE10+ */
	background: linear-gradient(top, #d9d0f2 0%, #ece5ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d0f2', endColorstr='#ece5ff',GradientType=0); /*IE6-9*/
	cursor: pointer;

}
#botaobq{
	width: auto;
	float: right;
	background-color: #d9d0f2;
	padding: 5px 15px;
	font: bold italic 12px verdana;
	border-radius: 20px;
	text-shadow: 0px 1px 0px white;
	border: 1px solid #6c5d99;
	height: 18px;
	background: #ece5ff; /*Old browsers */
	background: -moz-linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#d9d0f2 100%)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* Chrome10, Safari5.1+ */
	background: -o-linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* Opera 11.10 */
	background: -ms-linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* IE10+ */
	background: linear-gradient(top, #ece5ff 0%, #d9d0f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ece5ff', endColorstr='#d9d0f2',GradientType=0); /*IE6-9*/
	color: #000000;
	box-shadow: 0px 0px 10px #FFFFFF;

}
#botaobq:hover{
	background: #d9d0f2; /*Old browsers */
	background: -moz-linear-gradient(top, #d9d0f2 0%, #ece5ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d0f2), color-stop(100%,#ece5ff 100%)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d9d0f2 0%, #ece5ff 100%); /* Chrome10, Safari5.1+ */
	background: -o-linear-gradient(top, #d9d0f2 0%, #ece5ff 100%); /* Opera 11.10 */
	background: -ms-linear-gradient(top, #d9d0f2 0%, #ece5ff 100%); /* IE10+ */
	background: linear-gradient(top, #d9d0f2 0%, #ece5ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d0f2', endColorstr='#ece5ff',GradientType=0); /*IE6-9*/
	cursor: pointer;

}
#Código{
	font: italic 12px verdana;
	height: 15px;

	}
	
	.input-div{
		margin: 21px;
		padding: 5px;
		background-color: #FFFFFF;
		border-radius: 5px;
		font-family: italic 13px verdana;
		height: 30px;
		clear: right;
		
	}
	.input-div input{
		width: 88%;
		height: 30px;
		font: normal 13px verdana;
		color: #000000;
		border-radius: 3px;
		border: 1px solid #6c5d99;
		position: relative;
		float: both;
		outline: none;
		padding-left: 2px;
		
	}
	.input-div:hover{
		background-color: #d9d0f2;
	}
	.input-div:hover input{
		border-color: #6c5d99;
	}
	#tabelas-pedidos{
		width: 80%;
		text-align: center;
		font: italic 13px 'verdana';
		

	}
	
	
	
	

